name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build and Analyze
        run: mvn -B verify sonar:sonar ^
             -Dsonar.projectKey=elnani1_Examen_1 ^
             -Dsonar.organization=elnani1 ^
             -Dsonar.host.url=https://sonarcloud.io ^
             -Dsonar.login=${{ secrets.SONAR_TOKEN }}
