name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compile Java
        run: |
          mkdir bin
          dir /s /b *.java > sources.txt
          javac -d bin @sources.txt

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.projectKey=elnani1_Examen_1
            -Dsonar.organization=elnani1
            -Dsonar.java.binaries=bin
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
